./index.html
wp-json
hts-cache
src/blog
src/comments
src/2023
src/tag
src/category
src/author
src/feed

src/index[A-Za-z0-9_-]*.html
!src/index.html
src/xmlrpc.html
src/xmlrpc0db0.html

Safwene_Nacheb_Resume.pdf
src/data/safwene-portfolio.json
